<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Message Details</h1>

    <h3>Text: <%= message.text %></h3>
    <h4>By: <%= message.user %></h4>
    <h5>Date: <%= message.added %></h5>

    <a href="/">Back to Messages</a>
</body>
</html>
